<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="jp.co.techfun.picturejump" android:versionCode="1"
	android:versionName="1.0">


	<application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
		<activity android:name=".PictureJumpActivity" android:label="@string/app_name" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="PictureSendActivity" android:screenOrientation="portrait"/>
		<activity android:name="CameraActivity" android:screenOrientation="landscape"/>
		<activity android:name="DeviceSelectActivity" android:screenOrientation="portrait"/>
		<activity android:name="PictureReceiveActivity" android:screenOrientation="portrait"/>
	</application>

	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.BLUETOOTH" />

	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
	<uses-feature android:name="android.hardware.camera.flash" />
</manifest>