<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="jp.co.techfun.pianotouch"
      android:versionCode="1"
      android:versionName="1.0">

    <application 
    	android:icon="@drawable/icon" android:label="@string/app_name">
    	
    	<!-- 画面の向きを横画面表示に固定 -->
        <activity android:name=".PianoTouchSampleActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action 
                	android:name="android.intent.action.MAIN" />
                <category 
                	android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>